.H{
color: #fff;
}
.eader{
    color:#cd4ce1;
}
.divhed{
    background-color: rgb(10, 10, 77);
    padding:10px;
}
 .Nav {
        list-style: none;
    }
    
nav {
        padding: 7px;
        background-color: #681475; 
        color: #fff; 
        text-align: center; 
    }
    
.navli {
        display: inline;
        margin:60px; 
    }
    
a {
    padding: 15px;
        color: #fff; 
        text-decoration: none; 
    }
    
   
a:hover {
        background-color:chocolate; 
    }
    .container {
        color: white;
        width: 100%;
        text-align: center; /* Centre le contenu horizontalement */
        background-color: chartreuse;

    }
    .box1 {
        
        margin: 0;
        display: inline-block;
        width: 20%; /* Ajusté pour que la somme soit inférieure à 100% */
        height: 300px;
        background-color: chartreuse;
    }
    
    .box2 {
        margin: 0;
        display: inline-block;
        width: 58%; /* Ajusté pour que la somme soit inférieure à 100% */
        height: 300px;
        background-color: #cd4ce1;
    }
    
    .box3 {
        margin: 0;
        display: inline-block;
        width: 20%; /* Ajusté pour que la somme soit inférieure à 100% */
        height: 300px;
        background-color: chartreuse;
    }
    .boxEnd{
        width: 100%;
        height: 200px;
        background-color: rgb(10, 10, 35);
    }
dl {
    margin-left: 100px;
    margin-right: 100px;
    display: inline-block;
    color: #fff;
}
dt{
    margin: 10px;
}
    
.containerDl{
    width: 100%;
    text-align: center; /* Centre le contenu horizontalement */
}

    