*{
    margin: 0;
    padding: 0;
}

.container .navBar {
    margin-top:8px;
    margin-right: 30px;
    margin-left: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;

}

.container .navBar a {
    padding-left: 15px;
    padding-right: 15px ;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;

}
.container .navBar a:hover {
    color: rgb(8, 47, 82);

}

.container .navBar li {
    display: inline-flex;
    padding-left: 30px;


}
.newArticle{

margin: 50px;
}

