* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
  

}

.myImageBck{
    height: 100%;
    width: 100%;
    position: absolute;
}

.container {
  
 position:absolute;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center; /* Optional: to vertically center the content */
}

.card {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px    ;
    height: 500px;
    width: 600px;
}
.card form{
    text-align: center;
}

.card input {
    padding-left: 15px;
    padding-right: 15px;
    color: white ;
    width: 400px;
    height: 50px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid gainsboro;
    font-size: 20px;

}


.card input:focus {
    outline: none;
    background-color: rgb(81, 69, 94);
    font-size: 20px;
    border-radius: 15px;

}

.card .connexion{
    font-size: 20px;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(81, 69, 94);
    color: gainsboro;
    border: 2px solid  gainsboro;
}

.card input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: wheat;/* Couleur du texte du placeholder */
    line-height: 50px;

  }

::-moz-placeholder { /* Firefox 19+ */
    color: wheat;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: wheat;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: wheat;
  }